A@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Vidly</h2>
    <p class="lead">Vidly is a free web app for renting movies in CD's, DVD's and Blu-ray's format.</p>
    <p><a href="~/Controllers/HomeController.cs/Index" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Random Action</h3>
        <p>
            Random action is in Movies controller.
        </p>
        <p><a class="btn btn-default" href="~/Controllers/MoviesController.cs/Random">Random &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Movies</h3>
        <p>Movies you can rent.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Customers</h3>
        <p>The customers of Vidly app.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>